{% extends 'base.html' %}

{% block main %}


     
     <section id="banner">
        <div class="container-fluid p-0">
            <div class="banner-content">
                <h1>Welcome to ConstiGuide</h1>
                <p>Made by Avyukt Ballari</p>
            </div>
            <img src="/static/img/background_header.jpg" alt="Background Image" class="banner-image">
        </div>
    </section>
    
    <section id="about-us">
      <div class="container">
          <h2>About Me</h2>
          <p>Welcome to ConstiGuide!</p>
          <p>This website is a submission to the Constitution America Fair</p>
          <p>My name is Avyukt Ballari and i am currentley an 8th grader at Vickery Creek Middle School.</p>
          <p>I am intrested in full stack, and enjoy making websites if i have the correct idea and goal in mind!</p>
          <p>Besides coding, i also enjoy playing sports like basketball and just having fun with my friends.</p>
          <p>Feel free to critque the website and if any concerns contact me at avyuktballari@gmail.com</p>
      </div>
  </section>
    
  {% endblock %}