{% extends 'base.html' %}

{% block main %}
<style>
    body {
        background-color: #343a40;
    }
</style>

<section id="banner">
    <div class="container-fluid p-0">
        <div class="banner-content">
            <h1>Constitution Information</h1>
            <p>Made by Avisator</p>
        </div>
        <img src="/static/img/infoHeader.jpg" alt="Background Image" class="banner-image">
    </div>
</section>

<section id="info1">
    <div class="container">
        <div class="info-content">
            <div class="info-text">
                <h2>Constitution Info</h2>
                <p>The U.S. Constitution is an illuminating piece of work.</p>
                <p> It stands as the cornerstone of liberty, justice, and equality in the United States.</p>
                <p>Currently, the Constitution we know today is housed in the National Archives Museum. </p>
                <p>Our Constitution is divided into seven articles and a preamble.</p>
                <p>You may not have heard much about the preamble, but it serves as the introductory statement of the Constitution. </p>
                <p>The preamble contains the iconic words, 'We the people.' This text, the preamble, essentially outlines the goals and purposes of the Constitution.</p>
                <p>Please click on the cards below to learn the purpose of each article and what it serves.</p>
            </div>
            <div class="info-image">
                <img src="/static/img/small.jpg" alt="Info Image">
            </div>
        </div>
    </div>
</section>

<section id="articleInfo">
    <div class="container">
        <h2>Article Info</h2>
        <style>
            /* Custom CSS for reducing margin between columns */
            .custom-card-col {
                padding: 10px; /* Adjust the padding as needed */
                margin-bottom: 10px; /* Add margin at the bottom to reduce the gap */
            }

            /* Override Bootstrap's default margin for .col-md-6 */
            .col-md-6 {
                margin-bottom: 0; /* Remove the default margin */
            }
        </style>
        <div class="row">
            <div class="col-md-3 ">
                <div class="card" style="max-width: 300px;">
                    <div class="card-img-top custom-card-img" style="background-image: url('/static/img/article1.jpg');"></div>
                    <div class="card-body">
                        <h5 class="card-title">Article I</h5>
                        <p class="card-text">Article 1 creates Congress, comprising the House of Representatives and the Senate, detailing their powers and duties.</p>
                        <a href="https://en.wikipedia.org/wiki/Constitution_of_the_United_States#:~:text=Article%20I%20%E2%80%94%20The%20Legislature,-Main%20article%3A%20Article&text=Article%20I%20describes%20the%20Congress,Senate%20and%20House%20of%20Representatives.%22" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 ">
                <div class="card" style="max-width: 300px;">
                    <div class="card-img-top custom-card-img" style="background-image: url('/static/img/og.jpg');"></div>
                    <div class="card-body">
                        <h5 class="card-title">Article II</h5>
                        <p class="card-text">Article 2 establishes the Executive Branch, defining the role and powers of the President of the United States.</p>
                        <a href="https://en.wikipedia.org/wiki/Article_Two_of_the_United_States_Constitution#:~:text=Article%20Two%20vests%20the%20power,the%20president's%20powers%20and%20responsibilities." class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 ">
                <div class="card" style="max-width: 300px;">
                    <div class="card-img-top custom-card-img" style="background-image: url('/static/img/img.jpg');"></div>
                    <div class="card-body">
                        <h5 class="card-title">Article III</h5>
                        <p class="card-text">Article 3 of the U.S. Constitution establishes the judicial branch and defines treason.                        </p>
                        <a href="https://constitution.congress.gov/browse/article-3/#:~:text=The%20Trial%20of%20all%20Crimes,may%20by%20Law%20have%20directed." class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 ">
                <div class="card" style="max-width: 300px;">
                    <div class="card-img-top custom-card-img" style="background-image: url('/static/img/3679238446_55163ac6f4_o.jpg');"></div>
                    <div class="card-body">
                        <h5 class="card-title">Article IV</h5>
                        <p class="card-text">Article 4: States' rights and relations with the federal government.                        </p>
                        <a href="https://constitution.congress.gov/constitution/article-4/#:~:text=The%20United%20States%20shall%20guarantee,be%20convened)%20against%20domestic%20Violence." class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 ">
                <div class="card" style="max-width: 300px;">
                    <div class="card-img-top custom-card-img" style="background-image: url('/static/img/52118843317_a212034ab8_o.jpg');"></div>
                    <div class="card-body">
                        <h5 class="card-title">Article V</h5>
                        <p class="card-text">Article 5: Amendment process.</p>
                        <a href="https://constitution.congress.gov/browse/essay/artV-1/ALDE_00000507/#:~:text=10U.S.%20Const.-,art.,be%20proposed%20by%20the%20Congress%20)." class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 ">
                <div class="card" style="max-width: 300px;">
                    <div class="card-img-top custom-card-img" style="background-image: url('/static/img/Constitution_sceau.jpg');"></div>
                    <div class="card-body">
                        <h5 class="card-title">Article VI</h5>
                        <p class="card-text">Article 6: Federal law rules.</p>
                        <a href="https://en.wikipedia.org/wiki/Article_Six_of_the_United_States_Constitution#:~:text=Article%20Six%20of%20the%20United%20States%20Constitution%20establishes%20the%20laws,Constitution%20responsible%20for%20debts%20incurred" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 ">
                <div class="card" style="max-width: 300px;">
                    <div class="card-img-top custom-card-img" style="background-image: url('/static/img/6518131341_5beac63c11_o.jpg');"></div>
                    <div class="card-body">
                        <h5 class="card-title">Article VII</h5>
                        <p class="card-text">Article 7: Ratifies the Constitution when nine states approve.                        </p>
                        <a href="https://constitution.congress.gov/constitution/article-7/#:~:text=The%20Ratification%20of%20the%20Conventions,States%20so%20ratifying%20the%20Same." class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            
            <!-- Add more Bootstrap cards as needed -->
        </div>
    </div>
</section>

<style>
    /* Custom CSS for resizing the card image */
    .custom-card-img {
        height: 150px; /* Set the desired height for the card image */
        background-size: cover;
        background-position: center;
    }
</style>

{% endblock %}
